<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>便捷查询</title>
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/background.css">
  <script src="../static/js/flexible.js"></script>
  <style>
    .body-container {
      padding: 0.5405rem 0.5405rem 0.2703rem;
      height: calc(100% - 1.3514rem);
      overflow-y: scroll;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    .body-container .menu {
      display: flex;
      flex-direction: column;
    }

    .body-container .menu .menu-item {
      margin-bottom: 0.5405rem;
    }
  </style>

</head>

<body style="background-color: #fbf1e7;">
  <!-- 背景模块 -->
  <div id="my-background" class="background"></div>
  <div class="body-container">
    <div class="feature-area">
      <div class="menu">

        <img class="menu-item" src="../static/img/fuelcard.png" alt="燃油"
          onclick="handleMenuClick('/cityPost/fuel')" />

        <img class="menu-item" src="../static/img/Commercial& Residentiala.png" alt="商业/住宅"
          onclick="handleMenuClick('/cityPost/commercialResidence')" />

        <img class="menu-item" src="../static/img/hscode.png" alt="HS CODE"
          onclick="handleMenuClick('/cityPost/customsCode')" />
      </div>
    </div>
  </div>
  </div>
  <script type="module">
    // 设置背景模块
    import { myBackground } from '../static/js/background.js'; // 引入模块
    const moduleDiv = myBackground();
    document.getElementById('my-background').appendChild(moduleDiv); // 添加到页面
  </script>
  <script>
    function handleMenuClick(url) {
      // 点击跳转
      window.location.href = url;
    }
  </script>

</body>

</html>